<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <style>
        .main {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
        }
        .inner-main {
            width: 50%;
            height: 50%;
            padding: 1rem;
        }
        .inner-main h1 {
            padding: 1rem;
            color: cornflowerblue;
            text-align: center;
        }
        .content {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        .content button{
            outline: none;
            border: none;
            border-radius: 5px;
            background-color: cornflowerblue;
            color: white;
            padding: 1rem;
            margin-top: 1rem;
            cursor: pointer;
            
        }
        .content p {
          text-align: center;
        }
        .content #footer {
            color:rgb(140, 140, 140);
            padding-top: 1rem;
        }
    </style>
</head>
<body>
    <div class="main">
        <div class="inner-main">
            <h1>{{title}}</h1>
            <div class="content">
                <p>A request has been recieved to change the password for your <strong>Fit-M</strong> account.</p>
                <a href="{{resetPasswordLink}}">
                <button>Reset Your Password</button>
                </a>
                <p id="footer">If you did not request a password reset, you can safely ignore this email. Only a person with access to your email can reset your password</p>
            </div>
        </div>
    </div>
</body>
</html>